@import "../colors.scss";

.search-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 50px;
  z-index: 1;
}

.search {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: solid 2px $whiteness;
  color: $whiteness;
  font-size: 1.7rem;
  padding-left: 60px;
  background: transparent url("./icon-search.svg") no-repeat left center;
}

.search::placeholder {
  color: $whiteness;
  opacity: 0.5;
}

.search-results-container {
  background: black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  color: $whiteness;
  width: 400px;
  font-size: 1.2rem;
  position: absolute;
  z-index: 10;
  top: 50px;
  list-style-type: none;
  padding-inline-start: 0;
}

.search-results {
  padding: 10px;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: translateY(1px);
  }
}
