@import "~antd/dist/antd.css";
@import "colors.scss";

.app-container {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.starter {
  position: absolute;
  top: -20%;
  z-index: -99;
  width: 100%;
}

.content {
  position: absolute;
  top: 700px;
  width: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}
