$primary: #0f4344;
$headlines: #09945b;
$cards: linear-gradient(
  to left bottom,
  #081c33,
  #091829,
  #091320,
  #060d16,
  #02050a
);
$whiteness: #f9f9f9;

$pink: #c22e75;
$blue: #066cbd;
$turquise: #11aade;
$yellow: #ffff01;
$green: #02e49d;
