.point {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.point div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #B2FFDF;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
.point div:nth-child(1) {
    left: 8px;
    animation: point1 0.6s infinite;
  }
.point div:nth-child(2) {
    left: 8px;
    animation: point2 0.6s infinite;
  }

.point div:nth-child(3) {
    left: 32px;
    animation: point2 0.6s infinite;
  }

.point div:nth-child(4) {
    left: 56px;
    animation: point3 0.6s infinite;
  }


@keyframes point1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes point3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes point2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

