@import "../colors.scss";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 98;
}

.game-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 600px;
  background-image: $cards;
  z-index: 999;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  animation: 0.5s zoomIn forwards;
  > h1,
  h2,
  .ant-typography,
  h3 {
    color: $whiteness;
    padding: 5px 20px;
  }
}

.game-title {
  font-size: 1.6rem;
  margin-top: 10px;
}

.game-description {
  text-align: left;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
}

h2 {
  align-self: flex-start;
  font-size: 1rem;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
