@import "../colors.scss";

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 500px;
  margin-top: 80px;
  border-radius: 10px;
  border: solid 1px $primary;
  background: $cards;
  position: absolute;
  top: 120px;
  left: calc(50% - 150px);
  color: $whiteness;
}

.login-icon {
  width: 250px;
  margin: 80px 0 20px 0;
}

.user-input {
  width: 70%;
  margin-top: 20px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  :focus {
    outline: none;
  }
}

.login-button {
  margin: 50px;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  color: $whiteness;
  background-color: black;
  border-color: $headlines;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  border: 1px solid transparent;
  &:hover {
    transform: translateY(1px);
    color: lightgrey;
    outline: none;
  }
}
