@import "../colors.scss";

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  margin-bottom: 2%;
  background-color: black;
  > div > h1 {
    color: $whiteness;
    font-style: italic;
    margin-bottom: -10px;
    text-align: start;
  }
}

.brand {
  animation: changeLogo 1s steps(1) infinite;
  width: 300px;
  height: 100px;
}

.side-menu {
  position: absolute;
  top: 150px;
  right: 0;
  width: 15%;
  height: 200px;
  background-color: black;
  animation: slideDown 0.5s;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
  > button {
    background-color: transparent;
    border: none;
    opacity: 0;
    color: $whiteness;
    animation: fadeInDown 2s forwards;
    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
    &:hover {
      transform: scale(1.1);
      color: $pink;
    }
    &:active {
      transform: translateY(1px);
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes changeLogo {
  0% {
    content: url("../logo.svg");
  }
  33% {
    content: url("../logo2.svg");
  }
  66% {
    content: url("../logo3.svg");
  }
}
