@import "../colors.scss";

.card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-left: 8%;
  margin-bottom: 2%;
  flex-grow: 1;
}

.card-list-name {
  color: $green;
  font-size: 1.8rem;
  text-align: start;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
