@import "../colors.scss";

h3 {
  color: $whiteness;
  font-size: 1.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  height: 260px;
  background-image: $cards;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: $whiteness;
  border-radius: 10px;
  margin: 20px;
  &:hover {
    transform: scale(1.05);
  }

  > iframe {
    padding-bottom: 20px;
    border-radius: 30px, 30px, 0, 70px;
  }
}
