@import "../colors.scss";

.all-games {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8%;
  flex-grow: 1;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: $green;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.ant-checkbox {
  margin: 0 5px 0 20px;
}

.ant-checkbox-wrapper {
  color: $whiteness;
  height: 50px;
  vertical-align: center;
  font-size: 1.8rem;
  padding: 0;
  flex-wrap: nowrap;
  color: $green;
}

.filter-button {
  background: transparent;
  outline: none;
  border: none;
  margin-left: 30px;
}
